:root {
  --main-color-purple: hsl(252, 94%, 67%);
  --secondary-color-purple: hsl(252, 100%, 73%);
  --main-color-dark: hsl(233, 31%, 17%);
  --secondary-color-dark: hsl(233, 30%, 21%);
  --main-color-lightgray: hsl(231, 73%, 93%);
  --main-color-darkgray: hsl(231, 20%, 61%);
  --main-color-pale-blue: hsl(231, 37%, 63%);
  --main-color-black: hsl(228, 29%, 7%);
  --secondary-color-black: hsl(233, 30%, 31%);
  --main-color-background: hsl(240, 27%, 98%);
  --main-color-papaya: hsl(0, 100%, 80%);
  --main-color-reddish: hsl(0, 80%, 63%);
  --main-border-radius-ends: 0 16px 16px 0;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 100%;
  width: 100%;
  background-color : var(--main-color-background);
} 