.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100px;
  border-radius: var(--main-border-radius-ends);
  background-color: var(--secondary-color-black);
}


.nav-item-header {
  background-color: var(--main-color-purple);
  border-radius: var(--main-border-radius-ends);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-color-1 {
  border-radius: 0 16px 0 0;
  background-color: var(--main-color-purple);
  height: 50%;
}

.bg-color-2 {
  background-color: var(--secondary-color-purple);
  border-radius: 16px 0 16px 0;
  height: 50%;
}

.nav-item-header a {
  position: absolute;
  left: 28px;
}

.nav-item-header img {
  width: 40px;
  height: 40px;
}

.nav-item-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125px;
  align-items: center;
}

.nav-item-footer a > .icon-moon-img {
  width: 25px;
  height: 25px;
}

.nav-item-footer .user-profile-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  border-top: 1px solid #979797;
}

.nav-item-footer a > .user-profile-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}